In [27]:
import pandas as pd
check_df = pd.read_csv("2_Season_DF/Season_2009 - Copy.csv")
check_df[['Match Result','Points']] = check_df['Unnamed: 7'].str.split('(', n=1, expand=True)
check_df.drop(['Unnamed: 0.1','Unnamed: 0','Rk','G','Age','Unnamed: 5','Unnamed: 7'],axis=1,inplace=True)
check_df["Points"] = check_df["Points"].str.strip(")")

check_df.head(10)

,Date,Tm,Opp,GS,MP,FG,FGA,FG%,3P,3PA,...,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,Match Result,Points
0,2008-10-28,CHI,MIL,1,32:12,3,9,.333,0,0,...,9,3,0,4,2,11,11.2,+7,W,+13
1,2008-10-31,CHI,BOS,1,28:17,6,14,.429,0,0,...,1,1,0,3,4,18,9.7,-15,L,-16
2,2008-11-01,CHI,MEM,1,37:09,11,20,.550,0,1,...,3,0,0,2,0,26,19.1,+8,W,+10
3,2008-11-03,CHI,ORL,1,38:58,7,16,.438,0,0,...,1,0,0,3,3,14,3.3,-8,L,-3
4,2008-11-05,CHI,CLE,1,39:27,7,16,.438,1,3,...,7,1,0,3,1,20,13.7,-18,L,-14
5,2008-11-07,CHI,PHO,1,40:29,8,11,.727,1,2,...,6,2,0,3,1,18,17.1,+11,W,+17
6,2008-11-08,CHI,CLE,1,44:01,7,21,.333,0,2,...,9,1,0,3,2,17,10.9,-12,L,-9
7,2008-11-11,CHI,ATL,1,42:29,9,17,.529,0,0,...,6,0,0,3,0,26,23.5,-11,L,-5
8,2008-11-13,CHI,DAL,1,41:52,7,17,.412,0,1,...,6,1,0,0,1,16,14.4,+6,W,+7
9,2008-11-15,CHI,IND,1,40:24,8,15,.533,3,5,...,8,3,1,1,0,23,25.2,+20,W,+13