,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
count,86,85,86,86,86,41,86,82,86,86,...,86,86,86,86,86,86,86,86,86,86
unique,83,82,83,83,2,1,30,43,4,80,...,12,14,15,7,5,10,9,25,74,44
top,Rk,G,Date,Age,CHI,@,MIL,W (+7),1,MP,...,2,3,6,0,0,3,1,18,GmSc,+7
freq,4,4,4,4,82,41,4,5,80,4,...,19,20,17,36,66,22,24,8,4,4